#:r -d description     Description of the service
#:r -u user            System user

[Unit]

Description={{description}}
After=network.target

[Service]
ExecStart=/usr/bin/minetest --server
User={{user}}
Restart=on-failure
PIDFile=/run/{{user}}.pid
